main {
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 5%;
}

.sort-options {
    text-align: right;
    max-width: fit-content;
    float: inline-start;
    margin: 3%;
}

.product-page {
    display: grid;
    padding: 0 0 5% 0;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: stretch;
}

.product-item {
    background-color: #f2f2f2;
    padding: 15px;
    border: 1px solid #ccc;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-width: 25rem;
    align-items: center;
}

.product-item img {
    height: 100px;
    margin-bottom: 10px;
}

.productImage {
    min-height: 10rem;
    min-width: 7rem;
}

.catalougeBtn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: .375rem;
    max-width: fit-content;
    border: none;
    margin: 2%;
    max-width: 119px;
    min-width: 11vw;
}

@media only screen and (max-width: 820px) {
    .product-grid {
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        min-width: 18rem;
    }

    .product-page {
        display: grid;
    }
}

@media only screen and (max-width: 1200px) {
    .productImage {
        min-height: 7rem;
        min-width: 5rem;
    }

    .product-item h2 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 821px) and (max-width: 1440px) {

    .product-grid {
        display: grid;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        min-width: 18rem;
        padding: 0 2%;
    }

    .product-page {
        display: grid;
    }

    .product-item {
        min-width: 9rem;
    }
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
    .product-item {
        min-width: 19rem;
    }
}