/*This code is applied to the whole page*/

:root {
    --pietsFiets_Blauw: rgb(99, 166, 255);
    --pietFiets_Wit: #f2f2f2;
    --pietsFiets-Zwart: #333333;
    --link-color: rgb(46, 184, 175);
    --link-Hover-color: #FFC72C;
}

* {
    /*code applied to all HTML tags*/
    font-family: 'proxima_novabold', sans-serif;
    text-decoration: none;
    transition: all .2s linear;
    scroll-behavior: smooth;
}

html {
    min-height: 100%;
}

body {
    /*code applied to the whole body of the page*/
    background-color: #fff;
    margin: 0;
}

main {
    min-height: 100vh;
    padding-top: 15rem;
}

img {
    margin: auto;
}

a {
    color: var(--link-color)
}

a:hover {
    color: var(--link-Hover-color)
}

p {
    color: var(--pietFiets_Wit);
}

main p {
    color: black;
}

h1,
h2,
h3,
h4,
h5 {
    color: #000;
    max-height: fit-content;
    text-align: center;
}

h5 {
    font-size: large;
}

/*This code is for the header*/

.fullHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header {
    /*code applied to mainheader*/
    background-color: var(--pietsFiets-Zwart);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 3rem;
    margin: unset;
}

.secondHeader {
    background-color: black;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    padding: 10px 3rem;
}

#logo {
    /*code applied to headerlogo*/
    max-height: 5rem;
    border-radius: 25px;
}

main .promo {
    background: var(--pietsFiets_Blauw);
    padding: 5%;
    text-align: center;
    min-height: 6rem;
    display: flex;
}

main .promo h1,
main .promo p {
    color: yellow;
}

main .promo p {
    font-size: large;
}

.ourProductsText {
    text-align: center;
}

.product-categorie {
    display: grid;
    justify-content: center;
    margin: 2rem auto;
    width: fit-content;
}

@media only screen and (max-width: 1070px) {
    .product-categorie {
        width: 2vw;
    }

    .producten, .product {
        padding: unset !important;
    }
}

.producten {
    padding: 0 10rem;
    display: flex;
}

.product {
    text-align: center;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: .375rem;
    max-width: fit-content;
    margin: 1rem;
    border: none;
}

.btn:hover {
    background-color: var(--link-Hover-color);
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
    color: white;
    cursor: pointer;
}

.producten .product p {
    color: #000;
}

.producten .product img {
    max-width: 30rem;
    max-height: 10rem;
    padding: 10px;
}

.search-box {
    position: relative;
    width: 200px;
    margin: auto auto 10px auto;
}

@media only screen and (max-width: 700px) {
    .search-box {
        display: none;
    }

    #logo {
        margin-right: 20vw;
    }

    /* Verberg het standaard menu */
    #menuButtonNav {
        display: none;
    }

    /* Maak het hamburger menu zichtbaar */
    .hamburger-menu {
        display: block;
        cursor: pointer;
        z-index: 1000;
        position: relative;
        margin-left: 80vw;
    }

    /* Style voor de balkjes van het hamburger menu */
    .hamburger-menu span {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: white; /* Kleur van de balkjes */
        transition: 0.3s ease-in-out;
        border-radius: 5px;
    }

    /* Transformeer naar een kruisje wanneer de checkbox is aangevinkt */
    #menuToggle:checked + label #bar1 {
        transform: rotate(45deg);
        position: relative;
        top: 8px;
    }

    #menuToggle:checked + label #bar2 {
        opacity: 0; /* Verberg het middelste balkje */
    }

    #menuToggle:checked + label #bar3 {
        transform: rotate(-45deg);
        position: relative;
        top: -8px;
    }

    /* Verberg het hamburger navigatiemenu standaard */
    #hamburgerMenuButtonNav {
        display: none;
    }

    /* Wanneer de checkbox is aangevinkt, toon het hamburger menu */
    #menuToggle:checked + label + #hamburgerMenuButtonNav {
        display: block;
        position: absolute;
        top: 16vh;
        left: 0;
        width: 100%;
        background-color: black;
        text-align: center;
        z-index: 1000;
    }

    /* Stijl voor de links in het hamburger menu */
    #hamburgerMenuButtonNav a {
        display: block;
        padding: 15px;
        color: white;
        text-decoration: none;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }

    #hamburgerMenuButtonNav a:hover {
        background-color: grey;
    }

    /* Verberg de checkbox */
    #menuToggle {
        display: none;
    }

    .product {
        width: 30vw;
    }

    .producten .product img {
        width: 20vw;
    }
}

@media only screen and (max-width: 1000px) {
    [alt="OP=OP!.png"] {
        width: 22vw;
    }
}


/* Standaard zorgt ervoor dat het hamburger menu en de checkbox niet zichtbaar zijn */
#hamburgerMenuButtonNav, #menuToggle {
    display: none;
}

input, textarea {
    border: 2px solid lightblue;
    border-radius: 4px;
}

input:focus-visible, textarea:focus-visible {
    outline: none;
    border: 2px solid var(--link-Hover-color);
}

.search-box input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin: 0;
    border-radius: 10px;
    padding-right: 30px;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23ccc" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M10 2a8 8 0 016.32 12.9l4.78 4.78-1.42 1.42-4.78-4.78A8 8 0 1110 2zm0 2a6 6 0 100 12 6 6 0 000-12z"/></svg>');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right 5px center;
}


.search-box input:not(:placeholder-shown) {
    background-image: none;
    /* Hide icon when text is entered */
}

#menuButtonNav {
    padding: 0;
    width: -webkit-fill-available;
    max-height: 5vh;
}

.menuButton {
    font-size: 0.8em;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--button-color);
    display: inline-block;
    text-transform: uppercase;
    padding: 0.8%;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease-in-out 300ms;
    color: var(--pietFiets_Wit);
}

.menuButton:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
    color: var(--link-Hover-color);
}

.shoppingCart {
    /*code applied to the whole shoppingcart*/
    max-width: 52px;
    max-height: 42px;
    margin-right: 2rem;
}

.shoppingCartImage {
    /*code applied to the image of the shoppingcart*/
    height: 4vh;
    width: 2.5vw;
    min-width: 3rem;
    min-height: 2.5rem;
    margin-left: 0;
    background-color: lightblue;
    padding: 3px 10px 3px 3px;
    border-radius: 10px;
    transform: rotateY(180deg);
}

.shoppingCart:hover .shoppingCartImage {
    /*code applied to the hovering effect of the link of the shoppingcart*/
    background-color: var(--link-Hover-color);
    transform: scale(1.2);
}

.myAccountImg {
    transition: transform 0.8s ease, content 0.8s ease;
    /* Voegt een vloeiende overgang toe */
    width: 3vw;
    min-width: 3rem;
}

.myAccountLink:hover .myAccountImg {
    content: url('img/User icon_hover.png');
    transform: rotate(360deg);
    /* Voegt 360 graden rotatie toe */
}

.product {
    /*code applied to the every individual productbox (included the productLookButton)*/
    min-height: 1vh;
    padding: 10px;
    color: #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*This code is for the footer*/

footer {
    min-height: 20rem;
    min-width: -webkit-fill-available;
    background: var(--pietsFiets-Zwart);
    position: relative;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.flexFooterItems {
    display: flex;
    margin: auto;
}

.flexFooterItems div {
    margin: auto;
}

footer h4 {
    color: var(--pietFiets_Wit);
    text-align: justify;
}

.footerLogo {
    max-width: 16em;
    min-width: 8em;
    margin: 1rem 15rem;
    border-radius: 50px;
}

.socialIcon {
    margin: 0 10px;
    width: 3rem;
}

.creditText {
    color: #fff;
    text-align: center;
    margin: auto auto 1rem auto;
}

@media only screen and (max-width: 1030px) {
    footer p, footer a, footer p h4  {
        font-size: small;
    }

    footer a {
        max-width: fit-content;
        margin: 0;
    }
    
    .footerLogo {
        margin: auto;
        width: 25vw;
    }
}

.bedrijfsInfo {
    padding: 2%;
}

/* ---- */

.form-section {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
}

form textarea {
    resize: vertical;
    height: 100px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: var(--pietsFiets_Blauw);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: var(--link-Hover-color);
}

/* Contactpagina */

.contact-info p {
    margin: 5px 0;
    font-weight: bold;
}

/* Stijlen voor het contactformulier */

form {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.contactForm {
    margin: 0 auto 0 3vw;
}

form label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
    color: var(--pietsFiets-Zwart);
}

.nameInput,
.emailInput,
.messageInput {
    width: 70%;
    min-width: 20rem;
    padding: 10px;
    margin-bottom: 15px;
}

.horizontalFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.contactText {
    margin: auto 0 auto 15vw;
}

.contactBar {
    max-width: max-content;
    padding: 0 15%;
}

.subjectBar {
    margin-right: auto;
}

.contactSubmit {
    max-width: 30%;
}

.retourText {
    max-width: 20vw;
}

/* Specifieke styling voor de winkelmand overzicht */
.winkelmand-overzicht {
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.winkelmand-overzicht button {
    margin-top: 20px;
    width: auto;
    padding: 10px 20px;
}

.quantity-selector {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.3rem;  /* Grotere getallen */
    width: 40px;      /* Grotere breedte van het invoerveld */
    height: 20px;     /* Grotere hoogte van het invoerveld */
    padding: 10px;    /* Meer ruimte binnenin het invoerveld */
    margin: auto;
}

.delete-btn {
    background-color: #f0f0f0;
    border: 1px solid darkgrey;
    border-radius: 5px;
}

.delete-btn:hover {
    background-color: #f00;
    border: 1px solid darkred;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.checkout-summary {
    max-width: fit-content;
    margin-left: 75vw;
}

/* Log in Pagina */

.logInLogo {
    max-width: 16em;
    min-width: 13em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

/* MyAccount */

.account-sidebar {
    width: 200px;
    margin-right: 40px;
    float: inline-start;
}

.account-sidebar ul {
    list-style: none;
    padding: 0;
}

.account-sidebar li {
    padding: 15px;
    font-weight: bold;
    color: #555;
    cursor: pointer;
}

.account-sidebar li.active, .account-sidebar li:hover {
    color: black;
    font-weight: bold;
    list-style: disc;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

.order-table th, .order-table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    border-bottom: 2px solid #ddd;
}

.order-table thead {
    position: sticky;
    top: 0; /* Zorgt ervoor dat de thead bovenaan blijft tijdens scrollen */
    background-color: rgba(0, 123, 255, 0.8); /* Doorzichtige blauwe achtergrond */
    color: white;
    z-index: 1; /* Zorgt ervoor dat de thead boven de andere elementen blijft */
    opacity: 0.9; /* Maakt de thead een beetje doorzichtig */
}

.order-table th {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}

.rowHover {
    height: 10rem;
}

.rowHover:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.centerOrederTable {
    margin: 5rem auto;
    width: fit-content;
    min-width: 10%;
    min-height: 100ch;
}

.order-iframe {
    min-width: 50rem;
    margin: 0;
    min-height: 40rem;
}

.product-icon {
    width: 10vw;
}